<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="xms.com.vodmobile">

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/shareef_tube_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashScreen.SplashScreen"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="xms.com.vodmobile.SplashScreen.SplashScreen" />
        </activity>
        <activity
            android:name=".PlayerActivity"
            android:resizeableActivity="true"
            android:supportsPictureInPicture="true"
            android:configChanges=
                "screenSize|smallestScreenSize|screenLayout|orientation"
            android:launchMode="singleTop"
            android:parentActivityName=".VideoListActivity"
            android:theme="@style/FullscreenTheme"
            tools:targetApi="n">
            <intent-filter>
                <action android:name="com.google.android.exoplayer.demo.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:scheme="content" />
                <data android:scheme="asset" />
                <data android:scheme="file" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="xms.com.vodmobile.VideoListActivity" />
        </activity>
        <activity
            android:name=".SplashScreen.LoginActivity"
            android:label="@string/title_activity_login"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="xms.com.vodmobile.MainActivity" />
        </activity>

        <!--
 ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".Genre.GenreActivity"
            android:label="Genre"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="xms.com.vodmobile.MainActivity" />
        </activity>
        <activity
            android:name=".VideoListActivity"
            android:label="@string/title_activity_video_list"
            android:parentActivityName=".Genre.GenreActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="xms.com.vodmobile.Genre.GenreActivity" />
        </activity>
        <activity
            android:name=".VideoDetailActivity"
            android:label="@string/title_activity_video_detail"
            android:parentActivityName=".VideoListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="xms.com.vodmobile.VideoListActivity" />
        </activity>
        <activity
            android:name=".Series.SeriesListActivity"
            android:label="Series"
            android:parentActivityName=".Genre.GenreActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="xms.com.vodmobile.Genre.GenreActivity" />
        </activity>
        <activity
            android:name=".Series.EpisodesListActivity"
            android:label="@string/title_activity_episodes_list"
            android:parentActivityName=".Series.SeriesDetailActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="xms.com.vodmobile.Series.SeriesDetailActivity" />
        </activity>
        <activity
            android:name=".Series.SeriesDetailActivity"
            android:label="@string/title_activity_series_detail"
            android:parentActivityName=".Series.SeriesListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="xms.com.vodmobile.Series.SeriesListActivity" />
        </activity>
        <activity
            android:name=".ClipsListActivity"
            android:label="@string/title_activity_clips_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ArtistsList"
            android:label="@string/title_activity_artists_list"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="xms.com.vodmobile.MainActivity" />
        </activity>
    </application>

</manifest>